* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    background: #D1C3FF;
    justify-content: center;
    align-items: center;  
}

#cardboard {
    width: 95vh;
    display: flex;
    flex-wrap: wrap;    
}

#p1 {
    display: flex;
    flex-wrap: wrap;
}

#p2 {
    display: flex;
    flex-wrap: wrap;
}

.memory_card {
    width: 15vh;
    height: 30vh;
    margin: 2px;
    position: relative;
    transform-style: preserve-3d;
    transition: .5s    
}

.memory_card:active{
    transform: scale(.97);
    transition: .2s;
}

.memory_card.flip{
    transform: rotateY(180deg);
}

.frontFace,
.backFace{
    width: 100%;
    height: 100%;
    position: absolute;
    -webkit-backface-visibility: hidden; /* For safari */
    backface-visibility: hidden;
}

.frontFace{
    transform: rotateY(180deg);
}